.magna-carta{
    max-width: 100% !important;

}

.card{
    border: 10px thick black;
    
}
.text-button{
    background:none !important;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;

}