[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lxml = "*"
flask = "*"
request = "*"
urlopen = "*"
beautifulsoup = "*"
bs4 = "*"
jsonpickle = "*"
re = "*"
gensim = "*"
sklearn = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
